<settings>
    <category label="30001">
        <setting id="platform_id" type="labelenum" label="30031" values="SkyShowtime|PeacockTV" default="PeacockTV"/>
        <setting id="territory" type="text" label="30041" default=""/>
        <setting id="preferred_server" type="labelenum" label="30032" values="Auto|Limelight|Cloudfront|Akamai|Level3|Fastly" default='Auto'/>
        <setting id="uhd" type="bool" label="30033" default="false"/>
        <setting id="send_progress" type="bool" label="30025" default="false"/>
        <setting id="only_subscribed" type="bool" label="30017" default="false"/>
        <setting id="use_ttml2ssa" type="bool" label="$ADDON[script.module.ttml2ssa 32202]" default="false"/>
        <setting id="ssa_settings" type="action" label="$ADDON[script.module.ttml2ssa 32201]" option="close" action="Addon.OpenSettings(script.module.ttml2ssa)" enable="eq(-1,true)" subsetting="true"/>
        <setting id="ttml2ssa_filter" label="30040" type="text" default="" enable="eq(-2,true)" subsetting="true"/>
        <setting label="30019" type="action" id="is_settings" action="Addon.OpenSettings(inputstream.adaptive)" enable="System.HasAddon(inputstream.adaptive)" option="close"/>
    </category>
    <category label="30002">
        <setting label="30011" type="bool" id="manifest_modification" default="true"/>
        <setting label="30034" type="bool" id="fix_languages" default="true" enable="eq(-1,true)" subsetting="true"/>
        <setting label="30035" type="bool" id="delete_ec3_audio" default="false" enable="eq(-2,true)" subsetting="true"/>
        <setting label="30036" type="bool" id="delete_mp4a_audio" default="false" enable="eq(-3,true)" subsetting="true"/>
    </category>
</settings>
