<settings>
    <category label="30001">
        <setting id="platform_id" type="labelenum" label="30031" values="SkyShowtime|PeacockTV|NowTV|WowTV|NowTV-IT" default="SkyShowtime" visible="false"/>
        <setting id="store_credentials" type="bool" label="30050" default="false"/>
        <setting id="territory" type="text" label="30041" default=""/>
        <setting id="uhd" type="bool" label="30033" default="false"/>
        <setting id="dolbyvision" type="bool" label="DolbyVision" default="false" visible="eq(-1,true)" subsetting="true"/>
        <setting id="hdr10" type="bool" label="HDR10" default="false" visible="eq(-2,true)" subsetting="true"/>
        <setting id="hdcp_enabled" type="bool" label="30037" default="false"/>
        <setting id="only_subscribed" type="bool" label="30017" default="false"/>
        <setting label="30019" type="action" id="is_settings" action="Addon.OpenSettings(inputstream.adaptive)" enable="System.HasAddon(inputstream.adaptive)" option="close"/>
        <setting id="proxy_address" type="text" label="" value="" default="" visible="false"/>
    </category>
    <category label="30005">
        <setting id="send_progress" type="bool" label="30025" default="false"/>
        <setting id="progress_interval" type="number" label="30026" default="120" visible="eq(-1,true)" subsetting="true"/>
        <setting id="skip_recap" type="bool" label="30027" default="false"/>
        <setting id="skip_intro" type="bool" label="30028" default="false"/>
    </category>
    <category label="30004">
        <setting id="use_ttml2ssa" type="bool" label="$ADDON[script.module.ttml2ssa 32202]" default="false"/>
        <setting id="ssa_settings" type="action" label="$ADDON[script.module.ttml2ssa 32201]" option="close" action="Addon.OpenSettings(script.module.ttml2ssa)" enable="eq(-1,true)" subsetting="true"/>
        <setting id="ttml2ssa_filter" label="30040" type="text" default="" enable="eq(-2,true)" subsetting="true"/>
        <setting label="30038" type="bool" id="include_forced_subs" default="true" enable="eq(-3,true)" subsetting="true"/>
        <setting label="30039" type="bool" id="include_non_forced_subs" default="true" enable="eq(-4,true)" subsetting="true"/>
    </category>
    <category label="30006">
        <setting id="preferred_server" type="labelenum" label="30032" values="Auto|Limelight|Cloudfront|Akamai|Level3|Fastly" default='Auto'/>
        <setting id="expdays" type="number" label="30042" default="30"/>
        <setting id="ads" type="bool" label="Commercial breaks" default="false"/>
    </category>
    <category label="30002">
        <setting label="30011" type="bool" id="manifest_modification" default="true"/>
        <setting label="30034" type="bool" id="fix_languages" default="true" enable="eq(-1,true)" subsetting="true"/>
        <setting label="30035" type="bool" id="delete_ec3_audio" default="false" enable="eq(-2,true)" subsetting="true"/>
        <setting label="30036" type="bool" id="delete_mp4a_audio" default="false" enable="eq(-3,true)" subsetting="true"/>
        <setting label="30012" type="bool" id="use_proxy_for_license" default="true"/>
    </category>
</settings>
