<settings>
    <category label="30001">
        <setting id="platform_id" type="labelenum" label="Platform" values="SkyShowtime|PeacockTV" default="PeacockTV"/>
        <setting id="preferred_server" type="labelenum" label="Server" values="Auto|Limelight|Cloudfront|Fastly" default='Auto'/>
    </category>
</settings>

